@media screen and (max-width:980px)
{
    .bottomhead{
  width: 170px;
 height: 50px;
}
    .bottomhead h2 {
        margin-left: 20px;
        margin-top: 30px;
       
    }
    .image{
    width: 42%;
    float: left;
}
.text{
    width: 58%;
    float: left;
}
   
}
